@model IEnumerable<Practica2AG420250325.AppMVCCore.Models.Marca>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenBytes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    @if (item.ImagenBytes != null && item.ImagenBytes.Length > 0)
                    {
                        string base64Image = Convert.ToBase64String(item.ImagenBytes);
                        string imageUrl = $"data:image/png;base64,{base64Image}";
                        <img src="@imageUrl" alt="Imagen" style="max-width: 75px; max-height: 75px;" />
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="EliminarImage" asp-route-id="@item.Id">Eliminar imagen</a>
            </td>
        </tr>
}
    </tbody>
</table>
